<!-- <p>
  <strong>Picture:</strong>
<%= image_tag("Screenshot from 2015-06-23 13:21:41.png", :width => 1500 ,:height => 700) if "Screenshot from 2015-06-23 13:21:41.png".present? %>
</p>
 -->
<%= link_to"load_de", user_load_de_path(current_user) if current_user!=nil%>
<br>
<%= link_to"update cau hoi", user_dua_vao_db_path(current_user) if current_user!=nil%>