<!-- <p>
  <strong>Picture:</strong>
<%= image_tag("Screenshot from 2015-06-23 13:21:41.png", :width => 1500 ,:height => 700) if "Screenshot from 2015-06-23 13:21:41.png".present? %>
</p>
 -->
 sdjabsdjbajsbjsbdsadbaskdbsandksaj